Flask==3.0.0
requests==2.31.0
Werkzeug==3.0.0
ultralytics==8.0.196
requests-mock==1.11.0
gunicorn
openai-whisper
inflect
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl